data/images/RamchandraBudhendra-Vavilla.pdf
data/images/dli.granth.78136_jp2_Telang.pdf
data/images/gopinath/1896-XikpAAAAYAAJ/epub/
data/images/gopinath/1896-XikpAAAAYAAJ/pdf/The_Nîtiśataka_Śringâraśataka_and_V.pdf
data/images/gopinath/1896-XikpAAAAYAAJ/pdf/images-600/
data/images/gopinath/1914-VeBjAAAAMAAJ/pdf/The_Nītiśataka_Śrīṅgāraśataka_an.pdf
web/K???.html
web/Brough.html
web/Gopinath1914.html
web/Mādhavānanda.html
web/Ryder.html
web/Tawney.html
web/Telang.html
data.json
web/Gopinath1896.html
web/Kosambi.html
web/index.html
web/More.html
data.db
